*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Area del NAV */

.header{
    background-color: #FC9B74;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
    position: fixed;
    z-index: 1;
    a{
        img{
        height: 50px;
        width: 60px;
        padding: 0px;
        margin: 0px;
    }
}
}
.header > a{
    text-decoration: none;
    color: white;
}

.menu-nav > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0px;
}

.menu-nav > ul > li > a{
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    color: white; 
}

.carrusel{
    position: relative;
}

.carousel-inner{
    .carousel-item{
        img{
            height: 500px;
        }
    }
}

/* Area del NAV */


.card-destiny{
    img{
        width: 400px;
        height: 250px;
    }
}

.section-experiencia{
    img{
        height: 450px;
        width: 800px;
    }
}

.contenedor-index{
    height: 100%;
    width: 87%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(250, 250, 250, 0.842);
}

.contenedor_index{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
    gap: 15px;
}

.encabezado-index{
    grid-column: 1/ -1;
    grid-row: 1/2;
}

.seccion-destinos{
    grid-column: 1/11;
    grid-row: 3/5;
}

.novedades-viajes{
    grid-column: 1/11;
    grid-row: 6/7;
}

.Experiencias{
    grid-column: 1/-1;
    grid-row: 8/10;
}

.Noticias-viajes{
    grid-column: 12;
    grid-row: 3/7;
}

.preguntas-frecuentes{
    grid-column: 1/-1;
    grid-row: 12;
}

.encabezado_index{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    img{
        width: 1050px;
        height: 90vh;
        margin-bottom: 20px;
    }
    .content-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            line-height: 30px;
        }
    }

}

/* Area del FOOTER */
.footer{
    background-color: rgb(139, 28, 0);
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, auto);
    height: 30vh;
    padding: 20px;
    color: white;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social-media{
    grid-column: 5 / 8;
    grid-row: 1;
}

.Empresa{
    grid-column: 8 / 12;
    grid-row: 1;
}

.social-media > ul > li{
    list-style: none;
}

.social-media > ul > li > a{
    text-decoration: none;
    list-style: none;
    color: white;
    
}


.Empresa > ul > li{
    text-decoration: none;
    list-style: none;
}


/* Area del FOOTER */